# [CONFIGMAP] Service Port
PORT=8004

# [CONFIGMAP] Database Connection
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=payment_db

# [SECRET] Database Credentials
DB_USER=admin
DB_PASSWORD=adminpass

# [CONFIGMAP] Internal Service URLs
BOOKING_SERVICE_URL=http://booking-service:8003
TICKET_SERVICE_URL=http://ticket-service:8005
